@model List<ExportDemo.Models.Employee>

<h2>Employee List</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.Name</td>
                <td>@emp.Position</td>
                <td>@emp.Salary</td>
            </tr>
        }
    </tbody>
</table>

<br />

<a class="btn btn-danger" href="/Employee/ExportPdf">Download PDF</a>
<a class="btn btn-success" href="/Employee/ExportExcel">Download Excel</a>
